body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;

  #root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

a {
  color: inherit;
  text-decoration-line: none;
  font-size: 12px;
}

span {
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  background-color: transparent;
}

.header__group {
  display: flex;
  align-items: center;
}

.header__group {
  .input[type="search"] {
    width: 350px;
    height: 2rem;
  }
  #category {
    height: 2rem;
    font-size: 0.8rem;
    padding: 0 1rem 0 1rem;
  }
}

.header__group a:not(:last-child) {
  margin-right: 0.5rem;
  padding-right: 0.5rem;

  border-right: 1px solid black;
}

button {
  border: none;
  cursor: pointer;
}

