<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
    >
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    >
    <link
            href="/css/shared.css"
            rel="stylesheet"
            type="text/css"
    >
    <link
            href="/css/main.css"
            rel="stylesheet"
            type="text/css"
    >
    <title>JSApp</title>
</head>
<body>
<div id="root">
    <header class="header">
        <div class="header__group">
            <span>logo</span>
        </div>
        <div class="header__group">
            <input
                    class="input"
                    type="search"
                    placeholder="Search by item name"
                    aria-label="Search by item name"
            />
            <select
                    class="input"
                    name="category"
                    id="category"
                    aria-label="All categories"
            >
                <option value="0" selected id="init_value">All categories</option>
            </select>
        </div>

        <div class="header__group">
            <button
                    class="material-icons"
                    type="button"
                    onclick="location.href='/checkout'"
            >shopping_cart
            </button>
            <a href="/">Login</a>
            <a href="#">Sign up</a>
        </div>
    </header>
    <main class="page-main">

        <div class="content">
            <label class="content__title" id="content__title">
            </label>
            <div class="container" id="container">
            </div>
        </div>

    </main>
</div>
<script src="js/categories.js"></script>
<script src="js/categories_img.js"></script>
</body>
</html>